@import 'globalColours.css';

/* TITLE STYLE */
.nava {
    /* nav menu anchor elements */
    background-color: transparent;
    /* to avoid background recolouring during theme change */
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 20px 10px;

    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid var(--extra-color-DM)
}

.nava:hover {
    color: var(--secondary-color-DM);
    transition: all 0.3s ease;
}

.headerTitle:hover .hLogo {
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.headerTitle:hover .hText {
    font-size: 35px;
    transition: all 0.3s ease;
}

.hText,
.hLogo {
    display: inline-block;
    vertical-align: middle;
    transition: all 0.3s ease;
}

.hLogo {
    height: 50px;
}

.hLogo {
    display: inline-block;
}


.container {
    text-align: center;
}

#headerT {
    height: 80px;
    /* To avoid whole page relocation when hovering over title */
}


/* NAV MENU STYLE */

.hNav {
    padding: 10px;

    width: 75%;
    text-wrap: pretty;
}

.hNav ul {
    list-style-type: none;
}

.hNav li {
    display: inline;
    margin: auto 10px;
}

/* THEME SWITCH */

#svg-image {
    height: 32px;
    display: flex;
}


#svg-container:hover {
    color: #9799AC;
    transition: all 0.3s ease;

}

#svg-container {

    /* to avoid container covering other elements or being clickable from affar */
    width: fit-content;
    position: relative;
    top: -35px;
    left: 100%;

    /* to make it pretty */
    padding: 10px 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transform: translate(-5rem, 0);
    transition: all 0.3s ease;
}

#svg-text {
    margin-top: 10px;
}