@import 'globalColours.css';

/* WEBSITE WIDE STYLES */
html {
    background-color: var(--background-color-DM);
    color: var(--text-color-DM);
    transition: all 0.3s ease;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    padding: 3rem;
}

footer {
    width: 100%;
    text-align: center;
    padding: 10px 20px;
    /* color: white; */
}

a {
    color: var(--text-color-DM);
    text-decoration: none;
}


/* WEBSITE WIDE USED CLASSES START*/

/* LIGHT MODE SETTINGS */
.light {
    background-color: var(--background-color-LM);
    color: var(--text-color-LM);
}


.text-center {
    text-align: center;
}

.centeredH {
    display: flex;
    justify-content: center;
}

.centeredV {
    display: flex;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.d-flex {
    display: flex;
}

.justify-content-center{
    justify-content: center;
}

.btn-main {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    /* border: 2px solid var(--border-color-DM); */
    border-radius: 5px;
    color: var(--text-color-DM);
    background-color: var(--primary-color-DM);
    transition: all 0.3s ease;
}

.btn-main:hover {
    background-color: var(--secondary-color-DM);
    color: var(--text-color-DM);
}

/* WEBSITE WIDE USED CLASSES END */

#mainContainer {
    height: 500px;
    width: 100%;
}