/* FORM STYLING START */

.form {
    max-width: 300px;
    margin: 0 auto;
}

.label {
    display: block;
    margin-bottom: 8px;

    transform: translateY(-50%);
    color: #8a8a8a;
    font-size: 16px;
    pointer-events: none;
    transition: 0.3s ease-out;
}

.input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;

    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: #262626;
    color: #fff;
    font-size: 16px;
    outline: none;
}


.input:focus+.label,
.input:not(:placeholder-shown)+.label {
    top: 8px;
    font-size: 16px;
}

/* Optional: Add some animation for a smoother transition */
.input,
.label {
    transition: 0.3s;
}