/* NAV MENU STYLES */

nav {
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

.nava {
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
    margin: auto;
    width: fit-content;
    display: inline-block;
    cursor: pointer;
    transition: all 0.5s ease;
}

.nava:hover {
    color: #ACAA97;
    transition: all 0.5s ease;
}


.hLogo {
    height: 50px;
    transition: all 0.5s ease;
    transform: translate(0px, 15px);
}

.nava:hover .hLogo {
    transform: translate(0px, 15px) scale(1.1);
    transition: all 0.5s ease;
}

.container {
    text-align: center;
}

#svg-image {
    height: 32px;
    display: flex;
}


#svg-container:hover {
    color: #9799AC;
    transition: all 0.3s ease;

}
#svg-container {
    width: fit-content;
    position: relative;
    top: -35px;
    left: 100%;
    padding: 10px 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transform: translate(-5rem, 0);
    transition: all 0.3s ease;
}

#svg-text {
    margin-top: 10px;
}